# ignore everything
*
# unignore subtrees
!*/
!.gitignore

!/resources/telomerase/**
!/scripts/**
!/LICENSE
!/mods/mcinstanceloader*

# only include edited config files
!/config/armourersWorkshop/**
!/config/Betterloadingscreen/**
!/config/betterquesting/**
!/config/BigReactors/**
!/config/cofh/**
!/config/dsurround/**
!/config/endercore/endercore.cfg
!/config/forestry/*
!/config/itlt/**
!/config/LegibleNei/filters/**
!/config/matmos/alias.map
!/config/matmos/expansions_userconfig/**
!/config/mcinstanceloader/pack.mcinstance-unzipped/**
!/config/mcinstanceloader/config.cfg
!/config/mcinstanceloader/pack.mcinstance
!/config/mcinstanceloader/pack.bat
!/config/mixingasm/**
!/config/mod-director/**
!/config/NEI/**
!/config/betterquesting.cfg
!/config/betterstorage.cfg
!/config/BiblioCraft.cfg
!/config/bq_standard.cfg
!/config/CarpentersBlocks.cfg
!/config/CodeChickenCore.cfg
!/config/coretweaks.cfg
!/config/dakimakuramod.cfg
!/config/foamfix.cfg
!/config/gravestone.cfg
!/config/ImmersiveEngineering.cfg
!/config/immersiverailroading.cfg
!/config/InGameInfoXML.cfg
!/config/itlt.cfg
!/config/NEIAddons.cfg
!/config/OpenBlocks.cfg
!/config/PistonEverything.cfg
!/config/splash.properties
!/config/StorageDrawers.cfg
!/config/TeloAddon.cfg
!/config/test.txt
!/config/TFCOre.cfg
!/config/YABM.cfg
!background.png