# ignore everything
*
# unignore subtrees
!*/
!.gitignore
!.gitattributes
!.github/**
!*.bat
!*.sh

!/bansoukou/**
!/resources/**
!/scripts/**
!/LICENSE
!/schematics/**
!/mods/!*
!/armourersWorkshop/Telomerase_Official/**

# only include edited config files
!/config/armourersWorkshop/**
!/config/Betterloadingscreen/**
!/config/betterquesting/**
!/config/betterquesting.cfg
!/config/BigReactors/**
!/config/bugtorch/**
!/config/cofh/**
!/config/CustomMainMenu/**
!/config/dsurround/**
!/config/endercore/endercore.cfg
!/config/etfuturum/*
!/config/forestry/*
!/config/FpsReducer/*
!/config/itlt/**
!/config/LegibleNei/filters/**
!/config/matmos/expansions_userconfig/*earthlies.cfg
!/config/matmos/expansions_userconfig/*atmospheres.cfg
!/config/mod-director/**
!/config/mixingasm/**
!/config/NEI/**
!/config/archaicfix.cfg
!/config/betterstorage.cfg
!/config/BiblioCraft.cfg
!/config/bq_standard.cfg
!/config/CarpentersBlocks.cfg
!/config/CodeChickenCore.cfg
!/config/coretweaks.cfg
!/config/dakimakuramod.cfg
!/config/DamageIndicatorsMod.cfg
!/config/defaultkeys.txt
!/config/defaultoptions.txt
!/config/defaultoptionsof.txt
!/config/defaultoptionsnf.txt
!/config/falsepatternlib.cfg
!/config/forge.cfg
!/config/gravestone.cfg
!/config/ImmersiveEngineering.cfg
!/config/immersiverailroading.cfg
!/config/InGameInfoXML.cfg
!/config/InGameInfo.xml
!/config/itlt.cfg
!/config/LaunchGui.cfg
!/config/LunatriusCore.cfg
!/config/NEIAddons.cfg
!/config/OpenBlocks.cfg
!/config/PistonEverything.cfg
!/config/Pistronics2.cfg
!/config/StorageDrawers.cfg
!/config/splash.properties
!/config/TeloAddon.cfg
!/config/TFCPlusAesthetics.cfg
!/config/TFCOre.cfg
!/config/Waila.cfg
!/config/UpdateCheckLib.cfg
!/config/YABM.cfg
!/config/shipBlockProperties.cfg
!/config/craftpresence.properties
!/config/txloader/**
!/config/wdmla/**
!/config/angelica**
!/config/hodgepodge.cfg
!/config/journeymap/**
!/config/adjachests.cfg
!background.png
!/resourcepacks/**

# packwiz
!index.toml
!pack.toml
!.packwizignore

# serverpack files
!settings.cfg
!server-icon.png