# ignore everything
*
# unignore subtrees
!*/
!.gitignore

!/armourersWorkshop/**
!/journeymap/**
!/resources/telomerase/**
!/scripts/**
!/LICENSE
!/mods/mcinstanceloader*

# only include edited config files
!/config/armourersWorkshop/**
!/config/betterquesting/**
!/config/BigReactors/**
!/config/cofh/**
!/config/dsurround/**
!/config/endercore/**
!/config/forestry/**
!/config/itlt/**
!/config/LegibleNei/**
!/config/matmos/**
!/config/mcinstanceloader/**
!/config/mixingasm/**
!/config/mod-director/**
!/config/NEI/**
!/config/betterquesting.cfg
!/config/betterstorage.cfg
!/config/BiblioCraft.cfg
!/config/bq_standard.cfg
!/config/CarpentersBlocks.cfg
!/config/CodeChickenCore.cfg
!/config/coretweaks.cfg
!/config/dakimakuramod.cfg
!/config/foamfix.cfg
!/config/gravestone.cfg
!/config/ImmersiveEngineering.cfg
!/config/immersiverailroading.cfg
!/config/InGameInfoXML.cfg
!/config/itlt.cfg
!/config/NEIAddons.cfg
!/config/OpenBlocks.cfg
!/config/PistonEverything.cfg
!/config/StorageDrawers.cfg
!/config/TeloAddon.cfg
!/config/test.txt
!/config/TFCOre.cfg
!/config/YABM.cfg
