# Configuration file

customfont {
    # The number of bold copies to be drawn behind text at various offsets. [range: 1 ~ 8, default: 2]
    I:boldCopies=2

    # Name of the fallback custom font. Best not to set it from here. [default: (none)]
    S:customFontNameFallback=(none)

    # Name of the primary custom font. Best not to set it from here. [default: (none)]
    S:customFontNamePrimary=(none)

    # The quality at which custom fonts are rendered, making them less pixelated but increasing memory usage. [range: 6 ~ 72, default: 30]
    I:customFontQuality=30

    # Custom font scale multiplier, for bugfixes. [range: 0.1 ~ 3.0, default: 1.5]
    S:customFontScale=1.5

    # Whether or not to use custom fonts when drawing text. [default: false]
    B:enableCustomFont=false

    # Mods can provide Angelica with a mapping of special characters to either get replaced with different characters or rendered using the default Unicode font. Setting this to false disables the replacement, which is useful in cases where custom fonts have direct support for these special characters. 
    # See for additional details: https://github.com/GTNewHorizons/Angelica/issues/1239#issuecomment-3729877936 [default: true]
    B:enableGlyphReplacements=true

    # Controls font antialiasing. 0 = none, 1 = 4x MSAA, 2 = 16x MSAA. [range: 0 ~ 2, default: 2]
    I:fontAAMode=2

    # Affects font antialiasing sample spacing. Higher values increase blur. [range: 1 ~ 24, default: 7]
    I:fontAAStrength=7

    # Controls the distance at which the font's shadow is drawn. [range: 0.0 ~ 2.0, default: 1.0]
    S:fontShadowOffset=1.0

    # A shadow offset multiplier applied only to the Unicode font. [range: 0.0 ~ 2.0, default: 0.5]
    S:fontShadowOffsetUC=0.5

    # Influences the aspect ratio of each glyph. [range: -1.0 ~ 1.0, default: 0.0]
    S:glyphAspect=0.0

    # Scale of each glyph, whitespace excluded. [range: 0.1 ~ 3.0, default: 1.0]
    S:glyphScale=1.0

    # Adds extra spacing between glyphs. [range: -2.0 ~ 2.0, default: 0.0]
    S:glyphSpacing=0.0

    # The number of shadows to be drawn behind text at various offsets. [range: 1 ~ 8, default: 1]
    I:shadowCopies=1

    # Whitespace scale. [range: 0.1 ~ 3.0, default: 1.0]
    S:whitespaceScale=1.0
}


