# Configuration file

additional {
    S:disableMobNames <
     >
    B:dumpDeadPlayersInventories=true
}


blocks {
    B:autoanvil=false
    B:autoenchantmenttable=false
    B:beartrap=true
    B:bigbutton=true
    B:blockPlacer=true
    B:blockbreaker=true
    B:builder_guide=false
    B:cannon=false
    B:canvas=false
    B:canvasglass=false
    B:donationStation=false
    B:drawingtable=false
    B:elevator=false
    B:elevator_rotating=false
    B:fan=false
    B:flag=true
    B:goldenegg=false
    B:grave=false
    B:guide=true
    B:heal=false
    B:imaginary=false
    B:itemDropper=true
    B:ladder=true
    B:paintcan=false
    B:paintmixer=false
    B:path=true
    B:projector=false
    B:ropeladder=false
    B:scaffolding=true
    B:sky=false
    B:sponge=false
    B:sprinkler=false
    B:tank=true
    B:target=true
    B:trophy=false
    B:vacuumhopper=false
    B:village_highlighter=false
    B:xpbottler=false
    B:xpdrain=false
    B:xpshower=false
}


cartographer {
    S:blockBlacklist <
        "Natura:Cloud"
     >
    B:reportInvalidRequest=false
}


crane {
    B:addTurtles=false
    B:boringMode=true
    B:doCraneCollisionCheck=false
    B:showTurtles=false
    D:turtleMagnetDeactivateRange=3.0
    D:turtleMagnetRange=32.0
}


cursor {
    I:cursorMaxDistance=64
}


debug {
    B:goldenEyeDebug=false
    B:gravesDebug=false
}


devnull {
    B:sneakClickToGui=true
}


dropblock {
    B:centerOnBlock=false
    D:elevatorXpDrainRatio=0.0
    B:ignoreAllBlocks=false
    B:ignoreHalfBlocks=false
    B:irregularBlocksArePassable=true
    I:maxPassThrough=4
    I:searchDistance=20
    S:specialBlockRules <
     >
}


egg {
    B:pickBlocks=true
}


fan {
    D:fanForce=0.05
    D:fanRange=10.0
    B:isRedstoneActivated=true
}


features {
    B:explosiveEnchantGrief=false
    I:explosiveEnchantmentId=211
    I:flimFlamEnchantmentId=213
    B:infoBook=false
    I:lastStandEnchantmentId=212
    S:lastStandFormula=max(1, 50*(1-(hp-dmg))/ench)
    I:xpToLiquidRatio=20
}


general {
    # List of dimension IDs where the glider doesn't work
    I:BlacklistedDimensions <
        95
        94
        93
        92
        86
        85
        84
        83
        82
        81
        77
        74
        71
        69
        63
        54
        51
        49
        48
        47
        46
        45
        44
        43
        42
        41
        40
        39
        38
        37
        36
        35
        33
        32
        31
        30
        29
        28
        25
     >
}


glasses {
    D:opacity=0.95
    B:useTexture=true
}


graves {
    B:canSpawnBase=false
    B:destructiveGraves=false
    I:maximalPosY=249
    I:minimalPosY=6
    B:requiresGraveInInv=false
    D:skeletonSpawnRate=0.002
    I:spawnRange=10
    B:spawnSkeletons=false
    D:specialActionFrequency=0.03
    B:storeContents=true
}


guide {
    I:redstoneSensitivity=1
    D:renderDistanceSq=65536.0
    B:useAdvancedRenderer=true
}


hacks {
    B:enableExperimentalFeatures=false
}


hangglider {
    B:enableThermal=true
}


imaginary {
    D:fadingSpeed=0.0075
    D:numberOfUses=10.0
}


items {
    B:cartographer=false
    B:craneBackpack=false
    B:craneControl=false
    B:crayonGlasses=false
    B:cursor=false
    B:devnull=false
    B:emptyMap=false
    B:epicEraser=false
    B:filledbucket=false
    B:goldenEye=false
    B:hangglider=true
    B:heightMap=false
    B:infoBook=true
    B:luggage=false
    B:paintBrush=false
    B:pedometer=false
    B:pencilGlasses=false
    B:seriousGlasses=false
    B:sleepingBag=true
    B:slimalyzer=true
    B:sonicglasses=false
    B:spongeonastick=false
    B:squeegee=false
    B:stencil=false
    B:tastyClay=false
    B:technicolorGlasses=false
    B:wrench=false
}


ladder {
    B:infiniteMode=false
}


loot {
    B:donationStation=false
    B:paintBrush=false
    B:sonicGlasses=false
    B:stencil=false
    B:technicolorGlasses=false
}


magnet {
    B:pickBlocks=true
    B:pickEntities=true
}


projector {
    I:brightness=-1
    I:lightLevel=10
    B:lightUpWhenWorking=true
    B:renderHolographicCone=true
    B:renderHolographicGrid=false
}


radio {
    I:radioVillagerId=6156
    B:radioVillagerSellsRecords=true
}


scaffolding {
    I:despawnRate=4
}


sponge {
    I:spongeRange=3
    I:spongeStickUseCount=256
}


sprinkler {
    I:bonemealConsumeRate=600
    I:bonemealFertilizeChance=200
    I:effectiveRange=4
    I:fertilizeChance=500
    I:internalTankCapacity=50
    I:waterConsumeRate=20
}


tanks {
    I:bucketsPerTank=16
    B:displayAllFluids=false
    B:emitLight=true
    I:fluidDifferenceUpdateThreshold=0
    B:tankTicks=true
}


tomfoolery {
    B:doItWhileTyping=false
    S:flimFlamBlacklist <
     >
    B:reverseBlacklist=false
    B:safeOnly=false
    I:sillyLoreDisplay=1
    B:weAreSeriousPeople=true
}


trophy {
    D:trophyDropChance=0.001
    S:trophyDropChanceFormula=let([bias=rand()/4, selection=rand()], (looting + bias) * chance - selection)
}


