# Configuration file

bauxite {
    I:"Horizontal Density"=40
    I:"Maximum Height"=240
    I:"Minimum Height"=128
    I:"Vertical Density"=40
    S:baseRocks <
        limestone
        dolomite
        granite
        gneiss
        basalt
        shale
     >
    I:oreMeta=0
    S:oreName=teloaddon:bauxiteOre
    I:rarity=100
    S:size=small
    S:type=veins
}


chainsaw {
    # Set to false to prevent Chainsaw related items from being added to the game. If true, the chainsaw requires Immersive Engineering! [default: true]
    B:addChainsaw=true

    # The amount of damage the chainsaw does to mobs/players per tick [range: 0 ~ 2147483647, default: 600]
    I:chainsawDamage=600

    # The amount of damage the chainsaw does to mobs/players per tick [range: 0 ~ 2147483647, default: 6000]
    I:chainsawDurability=6000

    # The amount of RF the chainsaw uses while cutting (half is used while on but not actively cutting) [range: 0 ~ 2147483647, default: 100]
    I:chainsawEnergyUsage=100

    # The maximum amount of RF the chainsaw can store [range: 0 ~ 2147483647, default: 1000000]
    I:chainsawMaxEnergy=1000000
}


fluids {
    # Set to false to prevent new fluids from being added to the game [default: true]
    B:addFluids=true

    # Set false to disable picking up hotsprings with red steel buckets [default: true]
    B:hotSpringBucket=true

    # Coconuts and soybeans can make olive oil. Set false to prevent this [default: true]
    B:moreOil=true
}


"immersive engineering" {
    # If Immersive Engineering is loaded, a new creosote fluid is added that is obtained by distillation of pitch [default: true]
    B:addCreosoteFluid=true

    # If Immersive Engineering is loaded, the coke oven outputs pitch instead of creosote [default: true]
    B:cokeOvenPitch=true

    # If Immersive engineering is loaded, these are valid fuels. Format each line: fluidname,burnduration. Any value above 1000 results in infinite burn duration [default: [biodiesel,1000], [ethanol,200], [plantoil,200], [oliveoil,200], [telocreosote,20]]
    S:dieselGeneratorFuels <
        biodiesel,1000
        ethanol,200
        plantoil,200
        oliveoil,200
        telocreosote,20
     >

    # If Immersive Engineering is loaded, Coconuts and soybeans make plant oil. This overrides "moreOil" [default: true]
    B:plantOilIE=true
}


items {
    # Set to false to prevent aluminum items from being added to the game [default: true]
    B:addAluminum=true

    # Set to false to prevent Compound Bow related items from being added to the game [default: true]
    B:addCompoundBow=true

    # Set to false to prevent fiberglass items from being added to the game [default: true]
    B:addFiberglass=true

    # Set to false to prevent fluorite gems from being added to the game [default: true]
    B:addFluorite=true

    # Set to false to prevent lye item from being added to the game [default: true]
    B:addLye=true

    # Set to false to prevent oily mash item from being added to the game [default: true]
    B:addOilyMash=true

    # Set to false to prevent uranium items from being added to the game [default: true]
    B:addUranium=true

    # Set to false to prevent bauxite from being smelted to aluminum [default: true]
    B:aluminumSmeltable=true

    # Set to false for normal drops while breaking vanilla clay block [default: true]
    B:clayBlockDropsItself=true

    # Higher values increase rarity fo fluorite. Set to -1 to prevent fluorite gems dropping from stone [range: -1 ~ 2147483647, default: 2000]
    I:stoneDropFluorite=2000
}


